.language{
    display: contents;
}

.language img {
    cursor: pointer;
    max-width: 20px; max-height: 20px;
}

.language img:hover{
    max-width: 21px; max-height: 21px;
}

@media(max-width:1024px){
    .language{
        display: block;
    }
}